Technical analysis of stock data/[C#]-Technical analysis of stock data/C#/Silverlight/Finance.Silverlight.Graphs/Service References/FinanceDataService/Finance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://silesiaresearch.com/Finance/Finance.Web.DataService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://silesiaresearch.com/Finance/Finance.Web.DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://silesiaresearch.com/Finance/Finance.Web.DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Finance.Common.Base" />
      <xsd:import schemaLocation="http://silesiaresearch.com/Finance/Finance.Web.DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Finance.Web.DataWrappers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FinanceDataService_SelectItems_InputMessage">
    <wsdl:part name="parameters" element="SelectItems" />
  </wsdl:message>
  <wsdl:message name="FinanceDataService_SelectItems_OutputMessage">
    <wsdl:part name="parameters" element="SelectItemsResponse" />
  </wsdl:message>
  <wsdl:message name="FinanceDataService_SelectDailyData_InputMessage">
    <wsdl:part name="parameters" element="SelectDailyData" />
  </wsdl:message>
  <wsdl:message name="FinanceDataService_SelectDailyData_OutputMessage">
    <wsdl:part name="parameters" element="SelectDailyDataResponse" />
  </wsdl:message>
  <wsdl:portType name="FinanceDataService">
    <wsdl:operation name="SelectItems">
      <wsdl:input wsaw:Action="urn:FinanceDataService/SelectItems" message="FinanceDataService_SelectItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:FinanceDataService/SelectItemsResponse" message="FinanceDataService_SelectItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectDailyData">
      <wsdl:input wsaw:Action="urn:FinanceDataService/SelectDailyData" message="FinanceDataService_SelectDailyData_InputMessage" />
      <wsdl:output wsaw:Action="urn:FinanceDataService/SelectDailyDataResponse" message="FinanceDataService_SelectDailyData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>