Technical analysis of stock data/[C#]-Technical analysis of stock data/C#/Silverlight/Finance.Silverlight.Graphs/Service References/FinanceDataService/Finance3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://silesiaresearch.com/Finance/Finance.Web.DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Finance.Common.Base" />
  <xs:import schemaLocation="http://silesiaresearch.com/Finance/Finance.Web.DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Finance.Web.DataWrappers" />
  <xs:element name="SelectItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Finance.Common.Base" minOccurs="0" name="itemsTypes" type="q1:ElementTypeDefs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Finance.Web.DataWrappers" minOccurs="0" name="SelectItemsResult" nillable="true" type="q2:ArrayOfElementWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDailyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDailyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Finance.Web.DataWrappers" minOccurs="0" name="SelectDailyDataResult" nillable="true" type="q3:ElementDailyDataRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>