WebSockets middle-tier sample using ClientWebSocket/[C#]-WebSockets middle-tier sample using ClientWebSocket/C#/ScoreService2/Service References/ScoreSvcRepo/ScoreServiceRepo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScoreServiceRepo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ScoreServicesRepository/ScoreServiceRepo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ScoreServicesRepository/ScoreServiceRepo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ScoreServicesRepository/ScoreServiceRepo.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScoreSvcRepo_AddToServiceRepo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToServiceRepo" />
  </wsdl:message>
  <wsdl:message name="IScoreSvcRepo_RemoveFromServiceRepo_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromServiceRepo" />
  </wsdl:message>
  <wsdl:message name="IScoreSvcRepo_GetScoreServicesRepoInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreServicesRepoInfo" />
  </wsdl:message>
  <wsdl:message name="IScoreSvcRepo_GetScoreServicesRepoInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreServicesRepoInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IScoreSvcRepo">
    <wsdl:operation name="AddToServiceRepo">
      <wsdl:input wsaw:Action="http://tempuri.org/IScoreSvcRepo/AddToServiceRepo" message="tns:IScoreSvcRepo_AddToServiceRepo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromServiceRepo">
      <wsdl:input wsaw:Action="http://tempuri.org/IScoreSvcRepo/RemoveFromServiceRepo" message="tns:IScoreSvcRepo_RemoveFromServiceRepo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreServicesRepoInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IScoreSvcRepo/GetScoreServicesRepoInfo" message="tns:IScoreSvcRepo_GetScoreServicesRepoInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScoreSvcRepo/GetScoreServicesRepoInfoResponse" message="tns:IScoreSvcRepo_GetScoreServicesRepoInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScoreSvcRepo" type="tns:IScoreSvcRepo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToServiceRepo">
      <soap:operation soapAction="http://tempuri.org/IScoreSvcRepo/AddToServiceRepo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromServiceRepo">
      <soap:operation soapAction="http://tempuri.org/IScoreSvcRepo/RemoveFromServiceRepo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetScoreServicesRepoInfo">
      <soap:operation soapAction="http://tempuri.org/IScoreSvcRepo/GetScoreServicesRepoInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScoreServiceRepo">
    <wsdl:port name="BasicHttpBinding_IScoreSvcRepo" binding="tns:BasicHttpBinding_IScoreSvcRepo">
      <soap:address location="http://localhost/ScoreServicesRepository/ScoreServiceRepo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>