WCF Sample Service with Callbacks (wsdualhttpbinding)/[C#]-WCF Sample Service with Callbacks (wsdualhttpbinding)/C#/WCFSampleClient/Service References/DataServiceProxy/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="uri:wcfsampledataservice:v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:wcfsampledataservice:v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="uri:wcfsampledataservice:v1/Imports">
      <xsd:import schemaLocation="http://localhost:8755/DataService.svc?xsd=xsd0" namespace="uri:wcfsampledataservice:v1" />
      <xsd:import schemaLocation="http://localhost:8755/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8755/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSampleDataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerAddress" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInvoices" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="uri:wcfsampledataservice:v1/IDataService/GetCustomer" message="tns:IDataService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="uri:wcfsampledataservice:v1/IDataService/GetCustomerResponse" message="tns:IDataService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddress">
      <wsdl:input wsaw:Action="uri:wcfsampledataservice:v1/IDataService/GetCustomerAddress" message="tns:IDataService_GetCustomerAddress_InputMessage" />
      <wsdl:output wsaw:Action="uri:wcfsampledataservice:v1/IDataService/GetCustomerAddressResponse" message="tns:IDataService_GetCustomerAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInvoices">
      <wsdl:input wsaw:Action="uri:wcfsampledataservice:v1/IDataService/GetCustomerInvoices" message="tns:IDataService_GetCustomerInvoices_InputMessage" />
      <wsdl:output wsaw:Action="uri:wcfsampledataservice:v1/IDataService/GetCustomerInvoicesResponse" message="tns:IDataService_GetCustomerInvoices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>