WCF Sample Service with Callbacks (wsdualhttpbinding)/[C#]-WCF Sample Service with Callbacks (wsdualhttpbinding)/C#/WCFSampleClient/Service References/DataServiceProxy/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="uri:wcfsampledataservice:v1" elementFormDefault="qualified" targetNamespace="uri:wcfsampledataservice:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8755/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSampleDataService" />
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSampleDataService" minOccurs="0" name="GetCustomerResult" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFSampleDataService" minOccurs="0" name="GetCustomerAddressResult" nillable="true" type="q2:CustomerAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFSampleDataService" minOccurs="0" name="GetCustomerInvoicesResult" nillable="true" type="q3:CustomerInvoices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>